<template>
  <div class="bar mb-3">
    <i :class="color" :style="{ width: `${width}%` }" />
    <span class="z-10">{{ label }}%</span>
  </div>
</template>

<script>
export default {
  name: 'Bar',
  props: {
    value: { type: Number, default: 0 },
    limit: { type: Number, required: true }
  },
  computed: {
    label() {
      const { value, limit } = this
      return ((value / limit) * 100).toFixed()
    },
    width() {
      const { value, limit } = this
      return value >= limit ? '100' : ((value / limit) * 100).toFixed()
    },
    color() {
      const { value, limit } = this
      return value > limit ? 'bg-red-400' : 'bg-blue-400'
    }
  }
}
</script>

<style lang="scss" scoped>
.bar {
  @apply relative flex justify-center items-center border border-solid h-8;

  i {
    @apply absolute h-8 left-0;
    transition: width 0.3s ease-in;
  }
}
</style>
