<template>
  <button :class="['button', color]" @click="onClick">
    {{ value }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    value: { type: Number, default: 0 }
  },
  computed: {
    color() {
      return this.value < 0 ? 'bg-red-100' : 'bg-blue-100'
    }
  },
  methods: {
    onClick() {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" scoped>
.button {
  @apply mx-2 border border-solid py-2 px-5 rounded;
}
</style>
