<template>
  <div class="container">
    <div>
      <h1 class="text-2xl font-bold mb-5">Process Bars Demo</h1>
      <Bar
        v-for="(bar, index) in data.bars"
        :key="`bar_${index}`"
        :value="bar"
        :limit="data.limit"
      />
      <select v-model="selectedBarIndex" class="w-full h-8 mb-3">
        <option
          v-for="(_, index) in data.bars"
          :key="`option_${index}`"
          :value="index"
        >
          {{ `#Progress${index + 1}` }}
        </option>
      </select>
      <div class="buttons">
        <z-button
          v-for="(value, index) in data.buttons"
          :key="`button_${index}`"
          :value="value"
          @click="onProgressValueChange(value)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Bar from '@/components/Bar'
import zButton from '@/components/Button'

export default {
  name: 'Home',
  components: { Bar, zButton },
  asyncData() {
    const apiUrl = 'https://pb-api.herokuapp.com/bars'
    return fetch(apiUrl)
      .then((res) => res.json())
      .then((data) => {
        return { data }
      })
  },
  data() {
    return {
      data: {
        buttons: [],
        bars: [],
        limit: 0
      },
      selectedBarIndex: 0
    }
  },
  methods: {
    onProgressValueChange(value) {
      this.data.bars[this.selectedBarIndex] =
        this.data.bars[this.selectedBarIndex] + value < 0
          ? 0
          : this.data.bars[this.selectedBarIndex] + value
      this.$forceUpdate()
    }
  }
}
</script>

<style>
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
</style>
